/* Card */
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(183, 116, 255, 0.1);
    width: 20%;
    height: 300px;
    padding: 10px;
    gap: 10px;
    box-shadow: 0px 4px 20px 0 rgba(183, 116, 255, 0.3);
    flex-shrink: 0;
    overflow: hidden;
}

.card h2 {
    font-size: 5rem;
    color: lightblue;
    text-wrap: stable;
}

.card p {
    font-size: 2rem;
    text-wrap: pretty;
    color: whitesmoke;
}

/* CONTAINER CARROUSEL */
.body-main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;

}


.container-carrouserl {
    overflow: hidden;
    display: flex;
    gap: 100px;
    position: absolute;
    top: 50%;
    left: 0;

    border: 1px solid white;
    animation: carousel 20s linear infinite;
}

@keyframes carousel {
    from {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

}