/* Contedor */
.main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
}

.container-cart {
    display: flex;
    gap: 20px;
    transition: transform 1s ease;
}

.container-cart>* {
    flex-shrink: 1;
    flex-basis: 178px;
    min-width: 178px;
    border: 1px solid white;
}

.container-principal-cart {
    overflow: hidden;
    width: 100%;
}

/* CART */
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}


.cart h2 {
    font-size: 2rem;
    font-weight: bold;
    color: lightpink;
}

.cart p {
    font-size: 1.2rem;
    text-wrap: pretty;
}